@charset "UTF-8";
html {
  font-size: 62.5%;
}

/* カラー */
body {
  color: #141414;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
  color: #1b224c;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* フォント */
/* フォントサイズ */
h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.1rem;
}

/* 共通コンポーネント */
.el_tel p {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.el_tel img {
  vertical-align: middle;
  width: 10px;
}

.el_btn {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.el_btn button {
  background-color: #f5a623;
  display: inline-block;
  cursor: pointer;
  width: 142px;
  height: 50px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.4rem;
}

.el_btn:hover {
  opacity: 0.8;
}

.el_btn.el_btn__round button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  width: 260px;
  height: 60px;
  border-radius: 30px;
}

.el_btn.el_btn__round:hover {
  opacity: 0.8;
}

.el_contact {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #1b224c;
  cursor: pointer;
  width: 142px;
  height: 50px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.4rem;
}

.el_contact:hover {
  opacity: 0.8;
}

/* ヘッダー */
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  background-color: #ffffff;
}

.ly_header_inner {
  padding-right: 2vw;
  padding-left: 2vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.el_logo {
  margin-right: 30px;
}

.el_logo a {
  font-size: 3rem;
  text-decoration: none;
  color: #1b224c;
}

.ly_header_left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ly_header_right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bl_nav_item {
  font-weight: bold;
  margin-right: 28px;
}

.bl_nav_item:last-child {
  margin-right: 0;
}

.bl_nav_item a {
  color: #1b224c;
  position: relative;
  display: inline-block;
}

.bl_nav_item a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background: #141414;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bl_nav_item a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.bl_header_info {
  margin-right: 30px;
}

.bl_header_info > p {
  text-align: right;
  font-size: 1.2rem;
}

/* ドロワーボタン */
body.noscroll {
  overflow: hidden;
}

@-webkit-keyframes active {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes active {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bl_drawer_wrap {
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 80px;
  z-index: 9998;
}

.bl_drawer_list {
  display: none;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 9999;
  text-align: center;
}

.bl_drawer_list a {
  display: block;
  background-color: #1b224c;
}

.bl_drawer_list a:nth-of-type(5) {
  background-color: #f5a623;
}

.bl_drawer_item {
  padding: 30px 0px 30px 0px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.bl_drawerBtn {
  position: relative;
  top: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2px;
  z-index: 10000;
  display: none;
}

.hambarg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 4px;
  width: 40px;
  background: #1b224c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.hambarg:nth-child(1) {
  top: 25%;
  left: 50%;
}

.hambarg:nth-child(2) {
  top: 45%;
  left: 50%;
}

.hambarg:nth-child(3) {
  top: 65%;
  left: 50%;
}

.bl_drawer_wrap.active {
  display: block;
  -webkit-animation: active 0.5s linear 0s;
          animation: active 0.5s linear 0s;
}

.bl_drawer_list.active {
  display: block;
  -webkit-animation: active 0.5s linear 0s;
          animation: active 0.5s linear 0s;
}

.bl_drawerBtn.active .hambarg:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.bl_drawerBtn.active .hambarg:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.bl_drawerBtn.active .hambarg:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ファーストビュー */
.ly_fv {
  height: 100vh;
  background-image: url(img/demo_fv.jpg);
  background-position: 80% 20%;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.ly_fv::before {
  /* 透過させた黒を重ねる */
  background-color: rgba(0, 0, 0, 0.3);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

.ly_fv .bl_fv_box {
  position: absolute;
  top: 50%;
  left: 4vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ly_fv .bl_fv_box p {
  color: #1b224c;
  font-weight: bold;
  font-size: 3rem;
}

.ly_fv .bl_fv_box h1 {
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-size: 8rem;
}

.ly_fv span {
  font-size: 150%;
}

.ly_fv .el_btn button {
  margin-top: 30px;
  font-size: 1.6rem;
}

/* 各セクション共通 */
.ly_section {
  padding-top: 63px;
  padding-bottom: 54px;
}

.ly_inner {
  max-width: 906px;
  margin: 0 auto;
  padding-right: 4vw;
  padding-left: 4vw;
}

.el_section_ttl {
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.1rem;
}

/* イントロ */
#intro.ly_section {
  padding-top: 100px;
  padding-bottom: 100px;
}

#intro {
  background-color: #1b224c;
}

#intro .el_section_ttl {
  color: #ffffff;
  letter-spacing: 0.2em;
}

.bl_intro_list {
  color: #ffffff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-top: 65px;
}

.bl_intro_box {
  margin-top: 83px;
  background-color: #ffffff;
  padding: 11px 14px;
}

.bl_intro_box_inner {
  border: 5px solid #1b224c;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bl_intro_box_ttl {
  font-weight: 600;
  margin-bottom: 25px;
}

.bl_intro_box_ttl .decorate {
  position: relative;
  z-index: 0;
}

.bl_intro_box_ttl .decorate::before {
  content: "";
  background-color: #f5a623;
  position: absolute;
  height: 5px;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0px;
  display: inline-block;
  z-index: -1;
}

/* フューチャーセクション */
#feature.ly_section {
  padding-bottom: 0;
}

.bl_feature {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 170px;
  gap: 20px;
}

.bl_feature:first-of-type {
  margin-top: 100px;
}

.bl_feature_body {
  width: 55%;
}

.bl_feature_label {
  padding: 8px 25px;
  background-color: #f5a623;
  color: #ffffff;
  font-weight: lighter;
  font-size: 1.2rem;
}

.bl_feature_ttl {
  margin-top: 35px;
  font-weight: 600;
  margin-bottom: 40px;
}

.bl_feature_txt {
  letter-spacing: -0.1rem;
}

.bl_feature_img {
  max-width: 350px;
  width: 50%;
  text-align: center;
}

.bl_feature_img img {
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.el_plan {
  background-image: url(img/price.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.el_plan h3 {
  color: #ffffff;
  margin-bottom: 25px;
}

.el_plan .el_btn button {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.el_plan .el_btn button:hover {
  color: #1b224c;
  border: 1px solid #1b224c;
}

/* サクセスセクション */
#success.ly_section {
  background-color: #1b224c;
}

#success.ly_section .el_section_ttl {
  color: #ffffff;
}

.bl_success {
  margin-top: 53px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2%;
}

.bl_success_card {
  width: 100%;
  max-width: 280px;
  gap: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bl_success_lead {
  color: #ffffff;
  letter-spacing: -0.1rem;
}

.bl_success_img {
  background-color: #ffffff;
  text-align: center;
  margin-top: 1rem;
}

.bl_success_img img {
  height: 171px;
}

.bl_success_body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bl_success_job {
  background-color: #f8f8f8;
  display: inline-block;
  width: 20%;
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
}

.bl_success_name {
  background-color: #f8f8f8;
  display: inline-block;
  width: 65%;
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
}

.bl_success_score {
  background-color: #f8f8f8;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
}

/* フローセクション */
.bl_flow table {
  width: 100%;
  margin-top: 53px;
}

.bl_flow_row {
  background-color: #f8f8f8;
  margin-top: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bl_flow_row:first-child {
  margin-top: 0;
}

.bl_flow_number {
  display: inline-block;
  background-color: #f5a623;
  border: none;
  color: #ffffff;
  padding: 19px;
  display: inline-block;
}

.bl_flow_summary {
  padding: 20px 21px;
  display: inline-block;
  width: 20%;
}

.bl_flow_detail {
  padding: 23px 23px 23px 30px;
  position: relative;
  width: 70%;
}

.bl_flow_detail::before {
  content: "";
  background-color: #dddddd;
  width: 1.5px;
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* クエスチョンセクション */
.bl_faq {
  margin-top: 32.5px;
}

.bl_faq_list {
  max-width: 907px;
  border-top: 1px solid #1b224c;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}

.bl_faq_list:last-child {
  border-bottom: 1px solid #1b224c;
}

.bl_faq_list_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333;
  text-align: left;
  width: 100%;
  padding: 28px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bl_faq .el_faq_icon {
  position: relative;
  width: 60px;
  height: auto;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  cursor: pointer;
  z-index: 999;
}

.bl_faq .el_faq_icon::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  height: 2px;
  width: 30px;
  background: #1b224c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 50%;
  left: 50%;
}

.bl_faq .el_faq_icon::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2px;
  width: 30px;
  background: #1b224c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 50%;
  left: 50%;
}

.bl_faq_list_inner {
  display: none;
  color: #333;
  text-align: left;
  background-color: #f8f8f8;
  padding: 28px 37px;
}

.bl_faq .bl_faq_list_header.open .el_faq_icon::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bl_faq .bl_faq_list_header.open .el_faq_icon::after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ブログ・ニュースセクション */
#blog .ly_inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog .el_section_ttl {
  text-align: left;
}

#blog .bl_blog_list {
  width: 60%;
}

#blog .bl_blog_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  position: relative;
}

#blog .bl_blog_item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  position: relative;
}

#blog .bl_blog_item .post-categories {
  position: absolute;
  border: #f8f8f8;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #1b224c;
  border: 0.5px solid #f8f8f8;
}

#blog .bl_blog_item .post-categories a {
  color: #ffffff;
}

#blog .bl_blog_thumbnail {
  width: 45%;
}

#blog .bl_blog_thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#blog .bl_blog_thumbnail:hover {
  opacity: 0.7;
}

#blog .bl_blog_body {
  width: 45%;
  color: #1b224c;
  text-decoration: underline;
}

#blog .bl_blog_date {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

#blog .bl_blog_ttl:hover {
  opacity: 0.7;
}

#blog .bl_news {
  width: 37%;
}

#blog .bl_news .el_section_ttl {
  text-align: left;
}

#blog .bl_news_list {
  margin-top: 30px;
}

#blog .bl_news_item {
  padding-bottom: 40px;
  display: block;
}

#blog .bl_news_date {
  margin-bottom: 14px;
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
  color: #1b224c;
}

#blog .bl_news_ttl {
  text-decoration: underline;
  color: #1b224c;
}

#blog .bl_news_ttl:hover {
  opacity: 0.7;
}

/* ctaセクション */
#cta.ly_section {
  padding-bottom: 24px;
  padding-top: 0px;
}

.bl_cta {
  background-image: url(img/cta.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 42px;
}

.bl_cta_lead {
  color: #ffffff;
}

.bl_cta a {
  display: block;
  color: #ffffff;
}

.bl_cta a:last-child {
  text-decoration: underline;
}

.bl_cta .el_btn {
  margin-top: 30px;
  margin-bottom: 22px;
}

.bl_cta .el_btn button {
  font-size: 1.6rem;
}

.bl_info {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  max-width: 800px;
  padding-top: 24px;
  margin: 0 auto;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
}

.bl_info p:first-child {
  font-weight: bold;
}

.bl_info h2 {
  font-weight: bold;
  letter-spacing: -0.1rem;
}

/* フッター */
footer {
  background-color: #1b224c;
  padding-top: 35px;
}

footer .bl_footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 67px;
}

footer .bl_footer_nav_item {
  color: #ffffff;
  border-right: 1px solid #ffffff;
  padding-right: 21.5px;
  margin-right: 28px;
}

footer .bl_footer_nav_item:last-child {
  border-right: none;
}

footer .bl_footer_nav_item a {
  color: #ffffff;
  position: relative;
  display: inline-block;
}

footer .bl_footer_nav_item a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background: #ffffff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .bl_footer_nav_item a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer .bl_footer_info {
  color: #ffffff;
  text-align: right;
}

footer .bl_footer_info .el_logo {
  padding: 13px 19px;
  margin-right: 0;
  border: 1px solid #ffffff;
}

footer .bl_footer_info .el_logo a {
  text-decoration: none;
  font-size: 3rem;
}

footer .bl_footer_info .el_tel {
  display: inline-block;
  margin-top: 29px;
  margin-bottom: 11px;
}

footer .bl_footer_info > p {
  font-size: 1.2rem;
}

footer .ly_footer_copyright {
  background-color: black;
  text-align: right;
}

footer .ly_footer_copyright .ly_inner {
  height: 36px;
}

footer .ly_footer_copyright span {
  color: #ffffff;
  vertical-align: middle;
  font-size: 1.2rem;
}

/* ここから各固定ページ */
.ly_heading {
  height: 221px;
  margin-top: 8rem;
  position: relative;
}

.ly_heading img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ly_heading h2 {
  position: absolute;
  text-align: center;
  color: #ffffff;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ly_breadcrumbs {
  width: 100%;
  background-color: #f8f8f8;
}

.bl_breadcrumbs {
  padding-top: 17px;
  padding-bottom: 17px;
}

.bl_breadcrumbs span {
  vertical-align: middle;
}

.bl_system_body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.bl_system_body span {
  text-align: center;
  font-size: 2.2rem;
  max-width: 28rem;
  width: 100%;
  padding: 3.5rem 5rem;
  background-color: #1b224c;
  border: none;
  display: inline-block;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
}

.bl_system_body img {
  vertical-align: middle;
  margin: 3.5rem;
}

.bl_system p {
  margin-top: 46px;
  text-align: left;
}

/* 料金表 */
.bl_price_scroll {
  overflow-x: scroll;
}

.bl_priceUnit {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 10.8rem;
}

.bl_priceUnit .bl_price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1%;
}

.bl_priceUnit .bl_price:last-child {
  margin-right: 0;
}

.bl_price:nth-of-type(3) {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.bl_price_header {
  padding: 1.2rem;
  background-color: #1b224c;
  color: #fff;
  text-align: center;
}

.bl_price_header__subColor {
  background-color: #f5a623;
  color: #fff;
  text-align: center;
  padding: 1.2rem;
}

.bl_price_ttl {
  line-height: 3.6rem;
  font-size: 1.6rem;
}

.bl_price_body {
  padding: 15px;
  height: 384px;
  border-bottom: 1px solid #1b224c;
  border-right: 1px solid #1b224c;
  border-left: 1px solid #1b224c;
}

.bl_price_price {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}

.bl_price_price__subColor {
  color: #f5a623;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}

.bl_price_price__subColor span {
  color: #1b224c;
}

.bl_price_annot {
  text-align: center;
  font-weight: lighter;
  font-size: 1.6rem;
}

.bl_price_features {
  text-align: center;
}

.bl_price_features > *:last-child {
  margin-bottom: 0;
}

.bl_price_features dt {
  padding: 5px;
  margin-bottom: 10px;
}

.bl_price_features dd {
  margin-bottom: 20px;
}

/* 順序なしリスト */
.bl_price_features_list {
  margin: 0 auto;
  display: inline-block;
}

.bl_price_features_list > *:last-child {
  margin-bottom: 0;
}

.bl_price_features_list > li {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 10px;
  text-align: left;
}

.bl_price_features_list > li::before {
  border-bottom: 0.2rem solid #1b224c;
  border-left: 0.2rem solid #1b224c;
  content: "";
  height: 0.625rem;
  left: 0;
  position: absolute;
  top: 18%;
  left: -1rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 0.875rem;
}

.bl_price_features_list ul {
  padding-left: 1.5rem;
  margin-top: 10px;
  list-style: circle;
}

.bl_price_features_list ul > *:last-child {
  margin-bottom: 0;
}

.bl_price_features_list ul > li {
  margin-bottom: 10px;
}

/* ブログアーカイブページ */
#blog-archive .el_section_ttl {
  text-align: center;
  margin-bottom: 60px;
}

#blog-archive .bl_blog_list {
  width: 100%;
}

#blog-archive .bl_blog_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog-archive .bl_blog_item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog-archive .bl_blog_item .post-categories {
  position: absolute;
  border: #f8f8f8;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #1b224c;
  border: 0.5px solid #f8f8f8;
}

#blog-archive .bl_blog_item .post-categories a {
  color: #ffffff;
}

#blog-archive .bl_blog_thumbnail {
  width: 26.6666%;
  text-align: center;
}

#blog-archive .bl_blog_thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-height: 161px;
}

#blog-archive .bl_blog_body {
  width: 67.7777%;
  color: #1b224c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog-archive .bl_blog_date {
  font-size: 12px;
}

#blog-archive .bl_blog_ttl {
  text-decoration: underline;
}

#blog-archive .bl_blog_category {
  display: inline-block;
  border: #f8f8f8;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #1b224c;
  border: 0.5px solid #f8f8f8;
}

/* ブログ詳細ページ */
main {
  width: 65.555%;
}

#single-blog .ly_inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#single-blog .el_section_ttl {
  margin-bottom: 30px;
  font-weight: bold;
  text-align: left;
}

#single-blog .bl_blog_category {
  display: inline-block;
  border: #f8f8f8;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #1b224c;
  border: 0.5px solid #f8f8f8;
}

#single-blog .bl_blog_category a {
  color: #ffffff;
}

#single-blog .wp_social_bookmarking_light {
  display: inline-block;
}

#single-blog .wp_social_bookmarking_light_clear {
  clear: both !important;
  display: none;
}

#single-blog .bl_blog_date {
  float: right;
  font-size: 1rem;
  line-height: 3;
}

#single-blog .bl_blog_thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#single-blog .bl_blog_cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

#single-blog .bl_blog_cont h1,
#single-blog .bl_blog_cont h2,
#single-blog .bl_blog_cont h3,
#single-blog .bl_blog_cont h4,
#single-blog .bl_blog_cont h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#single-blog .bl_blog_cont h1 {
  font-size: 2.6rem;
}

#single-blog .bl_blog_cont h2 {
  font-size: 2.2rem;
}

#single-blog .bl_blog_cont blockquote {
  margin: 20px;
  background-color: #f8f8f8;
  padding: 27px;
}

#single-blog .bl_blog_cont ul {
  list-style: inside;
}

#single-blog .bl_blog_cont li {
  list-style-type: disc;
}

#single-blog .bl_blog_cont li::marker {
  color: #f5a623;
}

#single-blog .bl_blog_cont a {
  color: #f5a623;
  text-decoration: underline;
}

/* サイドバー */
.ly_sidebar {
  width: 30%;
}

.bl_myrelated {
  margin-bottom: 27px;
}

.bl_myrelated h4 {
  text-align: center;
  color: #ffffff;
  display: block;
  background-color: #1b224c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 1.2rem;
  padding: 2rem;
}

.bl_myrelated article > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6%;
}

.bl_myrelated article {
  margin-bottom: 20px;
}

.bl_myrelated article:last-child {
  margin-bottom: 0px;
}

.bl_myrelated figure {
  text-align: center;
  width: 50%;
}

.bl_myrelated figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-height: 85.3px;
}

.bl_myrelated p {
  width: 50%;
  font-size: 12px;
}

/* サイドバー・カテゴリーウィジェット */
.widget_block {
  margin-bottom: 12px;
}

.widget_block h4 {
  text-align: center;
}

.wp-block-categories-list.wp-block-categories {
  list-style: inside;
}

.wp-block-categories-list.wp-block-categories li {
  list-style-type: disc;
  margin-bottom: 10px;
}

.wp-block-categories-list.wp-block-categories li:last-child {
  margin-bottom: 0px;
}

/* おすすめ記事のスタイリング */
.bl_myrecommended h4 {
  text-align: center;
  color: #ffffff;
  display: block;
  background-color: #1b224c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 1.2rem;
  padding: 2rem;
}

.bl_myrecommended article > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6%;
}

.bl_myrecommended article {
  margin-bottom: 20px;
}

.bl_myrecommended article:last-child {
  margin-bottom: 0px;
}

.bl_myrecommended figure {
  text-align: center;
  width: 50%;
}

.bl_myrecommended figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-height: 85.3px;
}

.bl_myrecommended p {
  width: 50%;
  font-size: 12px;
}

/* おすすめ記事だけのスタイリング */
.bl_myrecommended {
  width: 100%;
}

.bl_myrecommended h4 {
  padding-left: 0;
  text-align: left;
  background-color: #ffffff;
  color: #1b224c;
}

.bl_myrecommended figure {
  width: 30%;
}

.bl_myrecommended figure img {
  height: auto;
  max-height: 100px;
}

.bl_myrecommended_body {
  width: 70%;
}

/* お知らせ一覧ページ */
#news-archive .el_section_ttl {
  text-align: center;
  margin-bottom: 45px;
}

#news-archive .bl_news_item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  color: #1b224c;
}

#news-archive .bl_news_date {
  margin-right: 54px;
}

/* お知らせ詳細ページ */
#single-news .el_section_ttl {
  margin-bottom: 30px;
  font-weight: bold;
}

#single-news .bl_news_date {
  text-align: right;
  font-size: 1rem;
}

#single-news .bl_news_cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

#single-news .bl_news_cont h1,
#single-news .bl_news_cont h2,
#single-news .bl_news_cont h3,
#single-news .bl_news_cont h4,
#single-news .bl_news_cont h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#single-news .bl_news_cont h1 {
  font-size: 2.6rem;
}

#single-news .bl_news_cont h2 {
  font-size: 2.2rem;
}

#single-news .bl_news_cont blockquote {
  margin: 20px;
  background-color: #f8f8f8;
  padding: 27px;
}

#single-news .bl_news_cont ul {
  list-style: inside;
}

#single-news .bl_news_cont li {
  list-style-type: disc;
}

#single-news .bl_news_cont li::marker {
  color: #f5a623;
}

#single-news .bl_news_cont a {
  color: #f5a623;
  text-decoration: underline;
}

/* コンタクトフォームのスタイリング */
#page-contact .el_contact_lead {
  text-align: left;
}

#page-contact .ly_inner {
  max-width: 700px;
}

#page-contact p {
  text-align: center;
}

#page-contact a {
  color: #f5a623;
  text-decoration: underline;
}

.wpcf7 {
  padding-top: 41px;
  padding-bottom: 82px;
}

.bl_cf7_table {
  width: 100%;
}

th,
td {
  display: block;
}

th {
  margin-bottom: 5px;
}

th span {
  font-weight: bold;
}

.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
  width: 100%;
  border: 0.5px solid #1b224c;
}

.wpcf7-form-control.wpcf7-text {
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
  margin-bottom: 30px;
}

.wpcf7-form-control.wpcf7-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.wpcf7-list-item {
  display: block;
}

.wpcf7-form-control-wrap.acceptance {
  display: block;
  margin-top: 33px;
  margin-bottom: 48px;
}

.wpcf7-submit {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  background-color: #1b224c;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 3px 6px #ddd;
          box-shadow: 0 3px 6px #ddd;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  cursor: pointer;
  margin-right: -70px;
}

/* ページャーのスタイリング */
.navigation.pagination {
  margin-top: 90px;
}

.page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .nav-links {
  text-align: center;
}

.pagination .nav-links .current {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #1b224c;
  background: #1b224c;
  color: #fff;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination .nav-links .dots {
  display: inline-block;
  margin: 30px 8px 8px 8px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 30px;
}

.pagination .nav-links a.page-numbers {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #1b224c;
  text-decoration: none;
  color: #1b224c;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination .nav-links a.page-numbers:hover {
  background: #1b224c;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 519px) {
  /* 料金表 */
  .bl_priceUnit {
    display: block;
  }
  .bl_priceUnit .bl_price {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .bl_priceUnit .bl_price:last-child {
    margin-bottom: 0;
  }
}

/* ヘルパークラス */
.hp_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hp_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hp_mt80 {
  margin-top: 80px;
}

.hp_sp-br {
  display: none;
}
/*# sourceMappingURL=style.css.map */